<!-- VARIABLES ANALOGICAS Y SET POINTS -->
<div class="card-container">

    <!-- SECCION HUMEDAD -->
    <mat-card class="example-card">

        <mat-card-header class="card-header">
            <mat-card-title class="card-title" class="card-title">Humedad</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <div *ngIf="liveData" class="numeric-data">{{liveData.HumDHT}}%</div>
            <div *ngIf="configData">
                <form class="form-content">
                    <mat-form-field class="setpoint-input">
                        <input matInput required name="spHum" [(ngModel)]="configData.SpHum" type="number"
                            placeholder="Set Point">
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>

        <mat-card-actions class="card-actions">
            <button mat-button (click)="setHum()">SET</button>
        </mat-card-actions>

    </mat-card>

    <!-- SECCION TEMPERATURA -->
    <mat-card class="example-card">

        <mat-card-header class="card-header">
            <mat-card-title class="card-title">Temperatura</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <div *ngIf="liveData" class="numeric-data">{{liveData.TempDHT}}°C</div>

            <div *ngIf="configData">
                <form class="form-content">
                    <mat-form-field class="setpoint-input">
                        <input matInput required name="spHum" [(ngModel)]="configData.SpTemp" type="number"
                            placeholder="Set Point">
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>

        <mat-card-actions class="card-actions">
            <button mat-button (click)="setTemp()">SET</button>
        </mat-card-actions>

    </mat-card>

    <!-- SECCION HORAS -->
    <mat-card class="example-card">

        <mat-card-header class="card-header">
            <mat-card-title class="card-title">Hora</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <div *ngIf="configData" class="time-data">
                {{encendido}} {{apagado}}
            </div>

            <div *ngIf="configData">
                <form class="form-content">
                    <mat-form-field class="setpoint-input">
                        <!-- <input matInput required name="encendido" [(ngModel)]="encendido" type="time" placeholder="Encendido"> -->
                        <input matInput atp-time-picker required name="encendido" [(ngModel)]="encendido"
                            placeholder="Encendido">
                    </mat-form-field>
                    <mat-form-field class="setpoint-input">
                        <input matInput atp-time-picker required name="apagado" [(ngModel)]="apagado"
                            placeholder="Apagado">
                        <!-- <span class="error" ng-show="myForm.input.$error.required"> -->
                    </mat-form-field>

                </form>
            </div>
        </mat-card-content>

        <mat-card-actions class="card-actions">
            <button mat-button (click)="setEncendido()">SET INICIO</button>
            <button mat-button (click)="setApagado()">SET FIN</button>
        </mat-card-actions>

    </mat-card>

</div>

<!-- VARIABLES DIGITALES Y MODOS MANUALES -->
<div class="card-container">

    <!-- SECCION LAMPARA -->
    <mat-card class="example-card">

        <mat-card-header class="card-header">
            <mat-card-title class="card-title" class="card-title"></mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <div *ngIf="liveData" class="numeric-data"><i class="fas fa-lightbulb" fa-7x></i></div>
        </mat-card-content>

        <mat-card-actions class="card-actions">
            <div *ngIf="liveData.lampara; else modoManual">
                <button mat-button (click)="setManAuto()">AUTO</button>
            </div>
            <ng-template #modoManual>
                <button mat-button (click)="setManAuto('contL')">MANUAL</button>
                <div *ngIf="configData.SML; else apagar">
                    <button mat-button (click)="setState('contL')">ENCENDER</button>
                </div>
                <ng-template #apagar>
                    <button mat-button (click)="setState('contL')">APAGAR</button>
                </ng-template>
            </ng-template>
        </mat-card-actions>

    </mat-card>

    <!-- SECCION VENTILADOR -->
    <mat-card class="example-card">

        <mat-card-header class="card-header">
            <mat-card-title class="card-title"></mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <div *ngIf="liveData" class="numeric-data"><i class="fab fa-fan"></i></div>
        </mat-card-content>

        <mat-card-actions class="card-actions">
            <button mat-button (click)="setTemp()">SET</button>
        </mat-card-actions>

    </mat-card>

    <!-- SECCION RIEGO -->
    <mat-card class="example-card">

        <mat-card-header class="card-header">
            <mat-card-title class="card-title"></mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
            <div *ngIf="liveData" class="numeric-data"><i class="fas fa-tint"></i></div>
        </mat-card-content>

        <mat-card-actions class="card-actions">
            <button mat-button (click)="setTemp()">SET</button>
        </mat-card-actions>

    </mat-card>

</div>


<!-- 
  <div *ngIf="!configData.lampara;    else apagado"> ON </div>{{configData.lampara}}
  <div *ngIf="!configData.ventilador; else apagado"> ON </div>{{configData.ventilador}}
  <div *ngIf="!configData.riego;      else apagado"> ON </div>{{configData.riego}}
   -->