<div class="card-container">

    <!-- SECCION HUMEDAD -->
    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Humedad</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div *ngIf="liveData" class="numeric-data">{{liveData.HumDHT}}</div>
            <div *ngIf="configData">
                <form class="example-form">
                    <mat-form-field class="setpoint-input">
                        <input matInput placeholder="Set Point" [(value)]="configData.SpHum">
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="setHum()">SET</button>
        </mat-card-actions>

    </mat-card>

    <!-- SECCION TEMPERATURA -->
    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Temperatura</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div *ngIf="liveData" class="numeric-data">{{liveData.TempDHT}}</div>

            <div *ngIf="configData">
                <form class="example-form">
                    <mat-form-field class="setpoint-input">
                        <input matInput placeholder="Set Point" [(value)]="configData.SpTemp">
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>

        <mat-card-actions layout="row" layout-align="center center" class="setpoint-button">
            <button mat-button (click)="setTemp()">SET</button>
        </mat-card-actions>

    </mat-card>

    <!-- SECCION HORAS -->
    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Hora</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div *ngIf="configData" class="numeric-data">
                {{HoraI}}:{{MinuI | number: '2.0'}}
                -
                {{HoraF}}:{{MinuF | number: '2.0'}}
            </div>

            <div *ngIf="configData">
                <form class="example-form">     

                    <mat-form-field class="setpoint-input">
                        <input type="number" matInput placeholder="HoraI" [(value)]="HoraI">
                    </mat-form-field>                        
                    <mat-form-field class="setpoint-input">
                        <input type="number" matInput placeholder="MinuI" [(value)]="MinuI">
                    </mat-form-field>                        
                    <mat-form-field class="setpoint-input">
                        <input type="number" matInput placeholder="HoraF" [(value)]="HoraF">
                    </mat-form-field>                        
                    <mat-form-field class="setpoint-input">
                        <input type="number" matInput placeholder="MinuF" [(value)]="MinuF">
                    </mat-form-field>
                    
                </form>
            </div>
        </mat-card-content>

        <mat-card-actions layout="row" layout-align="center center" class="setpoint-button">
            <button mat-button (click)="setMinuI()">SET INICIO</button>
            <button mat-button (click)="setMinuF()">SET FIN</button>
        </mat-card-actions>

    </mat-card>

</div>

<!-- 
    <div *ngIf="!configData.lampara;    else apagado"> ON </div>{{configData.lampara}}
    <div *ngIf="!configData.ventilador; else apagado"> ON </div>{{configData.ventilador}}
    <div *ngIf="!configData.riego;      else apagado"> ON </div>{{configData.riego}}
     -->