<div>
    CONFIG COMPONENT
</div>

<!-- 
<div style="text-align:center">

    <div class="table" class="col-sm-4">
        <table align="center">
            <th>
                <tr>
                    <th> SP Humedad </th>
                    <th *ngIf="magratheanData"> {{magratheanData.SpHum}} </th>
                </tr>
                <tr>
                    <th> SP Temperatura </th>
                    <th *ngIf="magratheanData"> {{magratheanData.SpTemp}} </th>
                </tr>
                <tr>
                    <th> Hora de Encendido </th>
                    <th *ngIf="magratheanData"> {{HoraI}}:{{MinuI | number: '2.0'}} </th>
                </tr>
                <tr>
                    <th> Hora de Apagado </th>
                    <th *ngIf="magratheanData"> {{HoraF}}:{{MinuF | number: '2.0'}} </th>
                </tr>
            </th>
            <th>
                <tr>|</tr>
                <tr>|</tr>
                <tr>|</tr>
                <tr>|</tr>
            </th>
            <th>
                <tr>
                    <th> Temperatura (DHT11) </th>
                    <th *ngIf="magratheanData"> {{magratheanData.tempDht}} </th>
                </tr>
                <tr>
                    <th> Temperatura (LM35) </th>
                    <th *ngIf="magratheanData"> {{magratheanData.tempLm35}} </th>
                </tr>
                <tr>
                    <th> Humedad (DHT11) </th>
                    <th *ngIf="magratheanData"> {{magratheanData.humDht}} </th>
                </tr>
            </th>
            <th>
                <tr>|</tr>
                <tr>|</tr>
                <tr>|</tr>
            </th>
            <th>
                <tr>
                    <th> Lampara </th>
                    <th *ngIf="magratheanData">
                        <div *ngIf="!magratheanData.lampara;    else apagado"> ON </div>{{magratheanData.lampara}}
                    </th>
                </tr>
                <tr>
                    <th> Ventilador </th>
                    <th *ngIf="magratheanData">
                        <div *ngIf="!magratheanData.ventilador; else apagado"> ON </div>{{magratheanData.ventilador}}
                    </th>
                </tr>
                <tr>
                    <th> Riego </th>
                    <th *ngIf="magratheanData">
                        <div *ngIf="!magratheanData.riego;      else apagado"> ON </div>{{magratheanData.riego}}
                    </th>
                </tr>
            </th>
        </table>
    </div>


    <div class="table" class="col-sm-6">
        <table align="center">
            <th>
                <tr>
                    <th> SP Humedad </th>
                </tr>
                <tr>
                    <th> SP Temperatura </th>
                </tr>
                <tr>
                    <th> Hora de Encendido </th>
                </tr>
                <tr>
                    <th> Hora de Apagado </th>
                </tr>
            </th>
            <th>
                <tr>
                    <th>
                        <input *ngIf="magratheanData" type="number" [(ngModel)]="newSpHum"
                            [placeholder]="magratheanData.SpHum" [value]="magratheanData.SpHum" min="0" max="100"
                            style="max-width:50px;" />
                    </th>
                </tr>
                <tr>
                    <th>
                        <input *ngIf="magratheanData" type="number" [(ngModel)]="newSpTemp"
                            [placeholder]="magratheanData.SpTemp" [value]="magratheanData.SpTemp" min="10" max="30"
                            style="max-width:50px;" />
                    </th>
                </tr>
                <tr>
                    <th>
                        <input *ngIf="magratheanData" type="number" [(ngModel)]="newSPhorI" [value]="HoraI"
                            style="max-width:50px;" />:
                        <input *ngIf="magratheanData" type="number" [(ngModel)]="newSPminI" [value]="MinuI"
                            style="max-width:50px;" />
                    </th>
                </tr>
                <tr>
                    <th>
                        <input *ngIf="magratheanData" type="number" [(ngModel)]="newSPhorF" [value]="HoraF"
                            style="max-width:50px;" />:
                        <input *ngIf="magratheanData" type="number" [(ngModel)]="newSPminF" [value]="MinuF"
                            style="max-width:50px;" />
                    </th>
                </tr>
            </th>
            <th>
                <tr>
                    <th> <input type="submit" value="SET" (click)="setHum()"> </th>
                <tr>
                    <th> <input type="submit" value="SET" (click)="setTemp()"> </th>
                <tr>
                    <th> <input type="submit" value="SET" (click)="setMinuI()"> </th>
                <tr>
                    <th> <input type="submit" value="SET" (click)="setMinuF()"> </th>
            </th>
        </table>
    </div>

    <div class="table" class="col-sm-6">
        <table align="center">
            <th>
                <tr>
                    <th> WiFi SSID </th>
                </tr>
                <tr>
                    <th> Password </th>
                </tr>
            </th>
            <th>
                <tr>
                    <th>
                        <input *ngIf="magratheanData" type="text" [(ngModel)]="newSsidName"
                            [placeholder]="magratheanData.SSID_name" [value]="magratheanData.SSID_name" min="0"
                            max="100" style="max-width:50px;" />
                    </th>
                </tr>
                <tr>
                    <th>
                        <input *ngIf="magratheanData" type="password" [(ngModel)]="newSsidPass" min="10" max="30"
                            style="max-width:50px;" />
                    </th>
                </tr>
            </th>
            <th>
                <tr>
                    <th> <input type="submit" value="SET" (click)="setWiFi()"> </th>
            </th>
        </table>
    </div>
</div> -->