/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-container {
  // font-size: 20px !important;
  display: flex;
  justify-content: center;
  .example-card {
    margin: 10px;
    width: 30%;
  }
}

.card-title{
  font-size: 20px !important;
}

.card-header{
  display: flex;
  justify-content: center;
}

.card-content{
  // max-width: 50%;
  text-align: center;
  // display: flex;
  // justify-content: center;
}

.card-actions{ 
  text-align: center;
  // display: flex;
  // justify-content: center;
}

.menu-item {
  display: flex;
  i {
    margin: 16px;
    // margin-right: 0px;
  }
}

.menu-title {
  display: flex;
  justify-content: center;
}

.numeric-data {
  display: flex;
  justify-content: center;
  font-size: 7em;
  font-weight: bold;
  color: yellowgreen;
  // text-align: right;
}

.time-data {
  display: flex;
  justify-content: center;
  font-size: 5em;
  font-weight: bold;
  color: yellowgreen;
}

.config-data {
  display: flex;
  justify-content: center;
}

.setpoint-input {
  // display: flex;
  // justify-content: center;
  max-width: 40%;
  margin-top: 25px !important;
}

.stateOn-output {
  display: flex;
  justify-content: center;
  // max-width: 40%;
  // margin-top: 25px !important; 
  font-size: 7em;
  color: yellowgreen;
}

.stateOff-output {
  display: flex;
  justify-content: center;
  // max-width: 40%;
  // margin-top: 25px !important;  
  font-size: 7em;
  color: gray;
  // text-align: right;
}
